@model CodeFirstTask2.Models.TeacherViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teacher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.CourseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teacher.TeacherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
