@model IEnumerable<CodeFirstTask2.Models.TeacherViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teacher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacher.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teacher.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacher.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.teacher.TeacherId }) |
            @Html.ActionLink("Details", "Details", new { id = item.teacher.TeacherId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.teacher.TeacherId })
        </td>
    </tr>
}

</table>
