@model IEnumerable<CodeFirstTask2.Models.StudentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentDetails.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentDetails.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentDetails.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentDetails.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Student.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.Student.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Student.StudentId })
        </td>
    </tr>
}

</table>
