@{
    ViewBag.Title = "Feedback";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>First name is @ViewBag.fname!</p>
    <p>Last name is @ViewBag.lname!</p>
    <p>Email is @ViewBag.email!</p>
    <p>Phone number is @ViewBag.phone!</p>
    <p>Gender is @ViewBag.gender!</p>
    <p>Subject is @ViewBag.subject!</p>
</main>